.wrapper{

  display: flex;
  flex-direction: column;
}
.header{

  background-color: blue;
  display: flex;
  padding-bottom: 0%;
}
.content{

  background-color:#F8F8FF;
  padding-bottom: 40%;
}
.footer{
 
  background-color: #808080;
}